.faq-container {
  padding-top: 2rem;
}
.faq h4 {
  font-size: 0.8rem;
  margin-top: 40px;
}
.faq p {
  font-size: 0.8rem;

}

@media screen and (min-width: 768px) {
  .products-desc, .faq-container {
    padding: 1rem 5rem;
  }
  .faq-container {
    padding-top: 4rem;
  }
  .faq h4 {
    font-size: 0.9rem;
    margin-top: 60px;
  }
  .faq p {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1200px) {
  .products-desc, .faq-container {
    padding: 1rem 15rem;
  }
  .faq-container {
    padding-top: 6rem;
  }
  .faq h4 {
    font-size: 1rem;
    margin-top: 80px;
  }
  .faq p {
    font-size: 1rem;
  }
}
  
  
